/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
    padding-top: 6rem;
    padding-bottom: 6rem;
    .title {
        font-family: $family-sans-serif-title;
        font-size: 50px;
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        font-family: $family-sans-serif-body, sans-serif;
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
}
