{{- $section6 := .Site.Params.section6 }}
{{- $id := index $section6 "id" }}
{{- $title := index $section6 "title" }}
{{- $subtitle := index $section6 "subtitle" }}
{{- $clientLogos := index $section6 "clientlogos" }}
<section class="section section-light-grey is-medium" id="{{ $id }}">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    </div>
  </div>
  <div class="hero-foot mb-20">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          {{- range $clientLogos }}
          <li>
            <a>
              <img class="logo" src="{{ printf "/images/colaborations/%s" . | relURL }}">
            </a>
          </li>
          {{- end }}
        </ul>
      </div>
    </div>
  </div>
</section>